@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
.scrollbar-thin::-webkit-scrollbar { height: 6px; width: 6px; }
.scrollbar-thin::-webkit-scrollbar-thumb { background-color: rgba(107,114,128,.5); border-radius: 9999px; }
.scrollbar-thin::-webkit-scrollbar-track { background: transparent; }
